/*****************************************/
/* blr: media queries                    */
/*****************************************/

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    div.titleContainer {
        padding-top: 30px;
    }
    a.logo-intro {
        background-image: url(/img/blr-logo.200.png);
        width: 201px;
        height: 200px;
        margin: 0 auto -20px auto;
    }
    section#index {
        width: 75%
    }
    #articleTitleContainer {
        margin-bottom: 20px;
    }
    #articleTitleContainer a.title {
        display: inline-flex;
        margin-left: -40px;
    }
    #articleTitleContainer a.sub-title {
        margin-left: -10px;
    }
    .searchWidget {
        margin: unset;
    }
    nav {
        margin-left: 45px;
    }
    footer img {
        max-width: 400px;
    }
}
    
/* Larger than phablet */
@media (min-width: 900px) {
    header {
        display: inline;
    }
}

/* Larger than tablet */
@media (min-width: 1200px) {}