/*****************************************/
/* blr: footer                           */
/*****************************************/

footer {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
footer img {
    max-width: 280px;
}