/*****************************************/
/* blr: base styles                      */
/*****************************************/

header {
    border-bottom: 1px solid grey;
    line-height: initial;
}
#headerTitleContainer {
    padding-top: 10px;
    text-align: center;
}
#headerTitleContainer img {
    margin-bottom: -10px;
}
#headerTitleContainer a.title {
    display: inline-flex;
    margin-bottom: -10px;
}
#headerTitleContainer a.sub-title {
    margin-top: -20px;
    margin-left: 8px;
}
header div.container div.row {
    gap: 0;
    padding: 0;
}
#headerFormContainer {
    padding-top: 1rem;
}
#articleTitleContainer {
    margin-bottom: 20px;
}
#articleTitleContainer a.title {
    display: inline-flex;
    margin-left: -20px;
    margin-bottom: -20px;
}
#articleTitleContainer a.sub-title {
    margin-left: -10px;
}
a.logo-intro {
    background-image: url(/img/blr-logo.100.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 101px;
    height: 101px;
/*     margin: 0 auto -30px auto; */
}
a.logo-header {
    background-image: url(/img/blr-logo.50.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 51px;
    height: 51px;
    margin: 15px auto -25px auto;
}